
.employee-container .hidden {
    display: none;
}

.btn-reimb-hidden {
    background-color: #daf7A6 ;
    opacity: .8;
    color: #424040;
    border: 1px solid #e7e7e7;
    transition-duration: 0.4s;
}