* {
	box-sizing: border-box;
	color: #434040;
}

/*
.u-full-width {
    width: 50%;
}*/

.btn:hover {
    background-color: #ffe9a0;
}


.btn {
    background-color: #ffc300 ;
    opacity: .8;
    color: #424040;
    border: 1px solid #e7e7e7;
    transition-duration: 0.4s;
}