# Default ignored files
/shelf/
/workspace.xml
.idea*
.gradle/*
build/*
.idea/sonarlint/issuestore/index.pb
log.txt
.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.1/executionHistory/executionHistory.bin
.gradle/7.1/executionHistory/executionHistory.lock
.gradle/7.1/fileHashes/fileHashes.bin
.gradle/7.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/checksums/checksums.lock
